*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.inter-light {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-semibold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

@media print {
  body * {
    visibility: hidden;
  }

  #print-coa,
  #print-coa * {
    visibility: visible;
  }

  #print-coa {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
